.git
.gitignore
.idea
.vscode
.venv
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
.mypy_cache
.ruff_cache
.pytest_cache
.env
.env.*
data.sqlite
Static/Cache
!Static/Src
!Static/Src/**
tests
Dockerfile
.dockerignore
